@page
@model IndexModel
@{
    ViewData["Title"] = "Projeto Elevador - Evandro Souza";
}

<div class="text-center">
    <h1 class="display-4">Projeto Elevador</h1>
    <p>[FORMAÇÃO MS-DEV] Aprendendo a programar com C#: teoria e prática.</p>
    <p>Elaborado por Evandro Vidéo de Souza Júnior</p>
</div>
<div align="justify">
    <p>O projeto consiste em permitir que o usuário defina o número de andares do prédio e a quantidade máxima
       de pessoas que o elevador poderá suportar.
       Após informar a quantidade máxima de andares e a capacidade máxima do elevador, o programa apresenta um
       conjunto de opções para que o usuário possa escolher uma das seguintes ações:</p>
       <p><b>[1] - Entrar no elevador:</b> deve acrescentar uma pessoa no elevador (só deve acrescentar se ainda houver espaço).</p>
       <p><b>[2] - Sair do elevador:</b>deve remover uma pessoa do elevador (só deve remover se houver alguém dentro dele).</p>
       <p><b>[3] - Subir um andar:</b>deve subir um andar (não deve subir se já estiver no último andar).</p>
       <p><b>[4] - Descer um andar:</b>deve descer um andar (não deve descer se já estiver no térreo).</p>
       <p><b>[5] - Finalizar o programa:</b> Sai do programa.</p>
</div>
<div align="justify">
    <p>As regras de negócio das funções (métodos) que o elevador pode realizar estão definidas dentro da classe <b>Elevador</b>,
       que encontra-se dentro da pasta Model.</p>
    <p> Para maiore informações sobre o projeto, favor entrar em contato comigo pelos contatos abaixo:</p>
    <p><a href="https://github.com/evandrosouzabr">Meu Gihthub!</a></p>
    <p><a href=mailto:evandrosouzabr@gmail.com>Meu e-mail!</p>

</div>